#thai, #scand, #la, #none {
  display: none;
}

body {
  font-style: italic;
}

.jumbotron {
  color: pink;
  text-align: center;
}

p {
  font-size: 30px;
  color: blue;
}

.container {
  width: 70%;
  background-color: black;
  color: red;
}

.inthemiddle {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

button {
  background-color: #BEA985 ;
}

button.btn:hover {
  color: green;
  background-color: #372B1E;
}

h3, h2 {
  text-align: center;
  color: #FF7466;
}


img {
    display: block;
    margin: 0 auto;
}
